<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티시의 활동방식 설정 -->
	<settings>
		<setting name="cacheEnabled" value="false"/><!-- 같은 질의명령일때 캐시사용여부를 결정 기본값은 트루-->
		<setting name="useGeneratedKeys" value="true"/><!-- 생성키에 대한 jdbc지원 허용 -->
		<!-- 기본 실행자 설정 -->
		<!-- reuse : 프리패어드 스태이트멘트 재사용
		simple : 하는일 없음
		batch : 못 적음
		-->
		<setting name="defaultExecutorType" value="REUSE"/>
	</settings>
	
	<!-- 마이바티스에서 사용할 타입 정의하기 -->
	<typeAliases>
		<typeAlias alias="mvo" type="com.fridgeCare.fri.hh.vo.MemberVO"/>
		<typeAlias alias="tvo" type="com.fridgeCare.fri.hh.vo.ThumbVO"/>
		<typeAlias alias="ivo" type="com.fridgeCare.fri.hh.vo.InputVO"/>
		<typeAlias alias="luvo" type="com.fridgeCare.fri.hh.vo.LatelyUploadVO"/>
		<typeAlias alias="srvo" type="com.fridgeCare.fri.hh.vo.SideRankVO"/>
		
		<typeAlias alias="rVO" type="com.fridgeCare.fri.juhyun.vo.ResipiVO"/>
		<typeAlias alias="pVO" type="com.fridgeCare.fri.juhyun.vo.PartnerVO"/>
		<typeAlias alias="page" type="com.fridgeCare.fri.juhyun.PageUtil"/>
		<typeAlias alias="aVO" type="com.fridgeCare.fri.juhyun.vo.AdminVO"/>
		
		<typeAlias alias="jvo" type="com.fridgeCare.fri.joo.vo.JooVO"/>
	    <typeAlias alias="jfvo" type="com.fridgeCare.fri.joo.vo.JFileVO"/>
	    <typeAlias alias="jrvo" type="com.fridgeCare.fri.joo.vo.JRecipeVO"/>
	    <typeAlias alias="jtvo" type="com.fridgeCare.fri.joo.vo.JTumbVO"/>
	    <typeAlias alias="jnvo" type="com.fridgeCare.fri.joo.vo.JNoticeVO"/>
	    
	    <typeAlias alias="inVO" type="com.fridgeCare.fri.hyunuk.vo.IngredVO"/>
     	<typeAlias alias="sVO" type="com.fridgeCare.fri.hyunuk.vo.SearchVO"/>
     	<typeAlias alias="gVO" type="com.fridgeCare.fri.hyunuk.vo.GetVO"/>
	</typeAliases>

	<!-- 매퍼로 등록된 xml들은 위에 등록된 타입들의 변수명을 인식할수 있게 된다 -->
	<mappers><!-- 매퍼등록시 주의할점은 자바와 다르게 .이아니고 /로 경로안쪽으로 들어간다 -->
		<mapper resource="com/fridgeCare/fri/hh/sql.xml"/>
		
		<mapper resource="com/fridgeCare/fri/juhyun/rSQL.xml"/>
		<mapper resource="com/fridgeCare/fri/juhyun/pSQL.xml"/>
		<mapper resource="com/fridgeCare/fri/juhyun/aSQL.xml"/>
		
		<mapper resource="com/fridgeCare/fri/joo/jooSQL.xml"/>
		
		<mapper resource="com/fridgeCare/fri/hyunuk/SearchSQL.xml"/>
	</mappers>
	
</configuration>